<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Book</title>
    <link rel="stylesheet" href="./styles/main.css" />
    <link rel="stylesheet" href="./styles/new.css" />
  </head>

  <body>
    <h1>Add a new book to your library</h1>
    <form action="/new" method="post">
      <input
        type="text"
        name="newBook"
        placeholder="Book Title"
        autocomplete="off"
        autofocus="true"
        required
      />
      <input type="date" name="dateRead" placeHolder="Date Read" required />
      <input
        type="number"
        name="rating"
        min="0"
        max="10"
        placeHolder="Rating out of 10"
        required
      />
      <input type="text" name="notes" placeHolder="Notes" />
      <button type="submit">Add</button>
    </form>
  </body>
</html>
