<!-- Header -->
<%- include("partials/header.ejs") %>

<!-- Main Body -->
<main>
  <div class="bookAdd">
    <h2>Add a new book to your library</h2>
    <form action="/new" method="post">
      <input
        type="text"
        name="newBook"
        placeholder="Book Title"
        autocomplete="off"
        autofocus="true"
        required
      />
      <input type="date" name="dateRead" required />
      <input
        type="number"
        name="rating"
        min="0"
        max="10"
        placeHolder="Rating out of 10"
        required
      />
      <textarea type="text" name="notes" placeHolder="Notes"></textarea>
      <button type="submit" class="add">Add</button>
    </form>
  </div>
</main>

<!-- Footer -->
<%- include("partials/footer.ejs") %>
